<ng-include src="'app/menu.html'"></ng-include>
<div class="header shadow">
    <h1><span class="font-weight-bold context-menu"><i class="fas fa-cubes"></i> Lista de pruebas del episodio {{episodio_id}} </span></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="wrapper">
                <a><button class="btn btn-primary" ng-click="volver()">Volver</button></a>
                <nav aria-label="Registros por página">
                    <ul class="pagination float-right">
                        <li class="page-item" ng-class="{'active':(rppActual==r)}" ng-repeat="r in rppS">
                            <a class="page-link" href="./prueba_informada/plist/{{r}}/{{ calcPage[$index] }}?episodio={{ episodio_id }}">{{r}}</a>
                        </li>
                    </ul>
                </nav>
                <nav aria-label="Paginación">
                    <ul class="pagination">
                        <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
                            ng-repeat="p in botonera track by $index">
                            <a class="page-link" ng-if="p != '...'"
                                href="./prueba_informada/plist/{{ rppActual }}/{{ p }}?episodio={{ episodio_id }}">{{p}}</a>
                            <span class="page-link" ng-if="p == '...'">{{ p }}</span>
                        </li>
                    </ul>
                </nav>
                <table class="table">
                    <tr>
                        <div><th>Imagenes</th></div>
                        <div>
                            <th>Id <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <a href="./prueba_informada/plist/{{ rppActual }}/{{ paginaActual }}/id/asc?episodio={{ episodio_id }}"
                                        class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                            class="fas fa-sort-up"></i></i></a>
                                    <a href="./prueba_informada/plist/{{ rppActual }}/{{ paginaActual }}/id/desc?episodio={{ episodio_id }}"
                                        class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                            class="fas fa-sort-down"></i></i></a>
                                </div>
                            </th>
                        </div>
                       
                        <div>
                                <th>Informe <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <a href="./prueba_informada/plist/{{ rppActual }}/{{ paginaActual }}/informe/asc?episodio={{ episodio_id }}"
                                            class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                                class="fas fa-sort-up"></i></i></a>
                                        <a href="./prueba_informada/plist/{{ rppActual }}/{{ paginaActual }}/informe/desc?episodio={{ episodio_id }}"
                                            class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                                class="fas fa-sort-down"></i></i></a>
                                    </div>
                                </th>
                        </div>
                            <div> <th> Fecha de peticion<div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <a href="./prueba_informada/plist/{{ rppActual }}/{{ paginaActual }}/fecha_peticion/asc"
                                        class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                            class="fas fa-sort-up"></i></i></a>
                                    <a href="./prueba_informada/plist/{{ rppActual }}/{{ paginaActual }}/fecha_peticion/desc"
                                        class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                            class="fas fa-sort-down"></i></i></a>
                                </div>
                            </th>
                        </div>
                        <div>
                            <th>Importe <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <a href="./prueba_informada/plist/{{ rppActual }}/{{ paginaActual }}/importe/asc"
                                        class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                            class="fas fa-sort-up"></i></i></a>
                                    <a href="./prueba_informada/plist/{{ rppActual }}/{{ paginaActual }}/importe/desc"
                                        class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                            class="fas fa-sort-down"></i></i></a>
                                </div>
                            </th>
                        </div>
                        <div>
                            <th>Medico <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <a href="./prueba_informada/plist/{{ rppActual }}/{{ paginaActual }}/id_medico/asc"
                                        class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                            class="fas fa-sort-up"></i></i></a>
                                    <a href="./prueba_informada/plist/{{ rppActual }}/{{ paginaActual }}/id_medico/desc"
                                        class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                            class="fas fa-sort-down"></i></i></a>
                                </div>
                            </th>
                        </div>
                        
                        
                    </tr>
                    <tr ng-repeat="prueba_informada in pagina">
                        <td>
                            <a ng-if="prueba_informada.link_imagen != 0" class="text-dark"
                                href="./imagen/plist/10/1?prueba={{ prueba_informada.id }}">{{prueba_informada.link_imagen}}</a>
                            <span ng-if="prueba_informada.link_imagen == 0">{{prueba_informada.link_imagen}}</span>
                        </td>
                        <td>{{prueba_informada.id}}</td>
                        <td>{{prueba_informada.informe}}</td>
                        <td>{{prueba_informada.fecha_peticion}}</td>

                        <td>{{prueba_informada.importe}}</td>
                        <td>{{prueba_informada.id_medico_obj.nombre + " "+ prueba_informada.id_medico_obj.primer_apellido}}</td>
                        <td>
                            <a href="./prueba_informada/remove/{{prueba_informada.id}}"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    

                </table>

                <div style="margin-left: 500px"><button class="btn btn-primary"> <a style="color: white" href="./prueba_informada/new/{{ episodio_id }}">Añadir una prueba</a></button></div>
                <nav aria-label="Paginación">
                    <ul class="pagination">
                        <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
                            ng-repeat="p in botonera track by $index">
                            <a class="page-link" ng-if="p != '...'"
                                href="./prueba_informada/plist/{{ rppActual }}/{{ p }}?episodio={{ episodio_id }}">{{p}}</a>
                            <span class="page-link" ng-if="p == '...'">{{ p }}</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>