<ng-include src="'app/menu.html'"></ng-include>
<div class="header shadow">
    <h1><span class="font-weight-bold context-menu"><i class="fas fa-fill"></i> Creación masiva de usuarios</span></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-body" ng-show="!hecho">
                <button type="button" class="btn btn-primary" ng-click="crear(10)">Crear 10 usuarios</button>
                <button type="button" class="btn btn-primary" ng-click="crear(50)">Crear 50 usuarios</button>
                <button type="button" class="btn btn-primary" ng-click="crear(100)">Crear 100 usuarios</button>
            </div>
            <div class="card-body" ng-show="hecho">
                <h2>{{mensaje}}</h2>
            </div>
            <div class="card-footer text-muted">
                <div class="float-right">
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button type="button" class="btn btn-outline-dark" ng-click="volver()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>