.form-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    background-color: rgb(255, 255, 255);
    width: 350px;
    border-top: solid .5rem #316280;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 1rem 0;
    box-shadow: 0 0 .5rem #8A8C8C;
}
img {
    width: 140px;
   
  }
  .text-center {
    padding: inherit;
    text-align: center!important;
}

.signup-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-title {
    color: #8A8C8C;
}

.signup-title span {
    color: #316280;
}

.signup-img {
    width: 8rem;
    border-radius: 50%;
}

.signup-form {
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem 0;
}

input[type=text], [type=password] {
    height: .5rem;
    margin: .5rem 0;
    padding: 1rem;
    transition: all.7s;
}

input[type=text]:focus, [type=password]:focus {
    border-color: #c8c8c8;
    background-color: #EFEFEF;
}

button.btn.btn-primary.btn-1 {
    margin-top: 20px;
}