<ng-include src="'app/menu.html'"></ng-include>
<div class="header shadow">
    <h1><span class="font-weight-bold context-menu"><i class="fas fa-user"></i> Editar datos de usuario</span></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form name="userForm" ng-show="!fallo&&!hecho">
                <div class="form-group row">
                    <label for="dni" class="col-sm-2 col-form-label">DNI:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="dni" class="form-control"
                            ng-class="{ 'is-invalid' :!userForm.dni.$valid && !userForm.dni.$pristine}" name="dni"
                            ng-required="true" value="{{dni}}" />
                        <div class="invalid-feedback" ng-show="userForm.dni.$invalid">
                            El DNI no puede estar vacio.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <input type="text" ng-model="nombre" class="form-control"
                                ng-class="{ 'is-invalid' : !userForm.nombre.$valid && !userForm.nombre.$pristine}"
                                name="nombre" ng-required="true" value="{{nombre}}"></input>
                        </div>
                        <div class="invalid-feedback" ng-show="userForm.nombre.$invalid">
                            El nombre no puede estar vacio.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="apellido1" class="col-sm-2 col-form-label">Primer apellido:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="apellido1" class="form-control"
                            ng-class="{ 'is-invalid' : !userForm.apellido1.$valid && !userForm.apellido1.$pristine}"
                            name="apellido1" ng-required="true" value="{{apellido1}}" />
                        <div class="invalid-feedback" ng-show="userForm.apellido1.$error.pattern">
                            El primer apellido no puede estar vacio.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="apellido2" class="col-sm-2 col-form-label">Segundo apellido:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="apellido2" class="form-control"
                            ng-class="{ 'is-invalid' : !userForm.apellido2.$valid && !userForm.apellido2.$pristine}"
                            name="apellido2" ng-required="true" value="{{apellido2}}" />
                        <div class="invalid-feedback" ng-show="userForm.apellido2.$error.pattern">
                            El segundo apellido no puede estar vacio.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="email" class="form-control"
                            ng-class="{ 'is-invalid' : !userForm.email.$valid && !userForm.email.$pristine}"
                            name="email" ng-required="true" value="{{email}}" />
                        <div class="invalid-feedback" ng-show="userForm.email.$error.pattern">
                            El email no puede estar vacio.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="login" class="col-sm-2 col-form-label">Username:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="login" class="form-control"
                            ng-class="{ 'is-invalid' : !userForm.login.$valid && !userForm.login.$pristine}"
                            name="login" ng-required="true" value="{{login}}" />
                        <div class="invalid-feedback" ng-show="userForm.login.$error.pattern">
                            El username no puede estar vacio.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-10">
                        <input type="password" ng-model="password" class="form-control"
                            ng-class="{ 'is-invalid' : !userForm.password.$valid && !userForm.password.$pristine}"
                            name="password" ng-required="true" value="{{password}}" />
                        <div class="invalid-feedback" ng-show="userForm.password.$error.pattern">
                            El username no puede estar vacio.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <tipousuario-selection class="modal fade" id="cadd-location-modal" obj="id_tipousuario_obj"
                      on-tipousuario-set="tipoUsuarioRefresh(this,false)">
                    </tipousuario-selection>
                    <label for="id_tipousuario_obj" class="col-sm-2 col-form-label">Tipo de usuario:</label>
                    <div class="col-sm-10">
                      <div class="control">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" data-toggle="modal" data-target="#cadd-location-modal">
                              <span class="fas fa-search"></span>
                            </span>
                          </div>
                          <input ng-model="id_tipousuario" ng-change="tipoUsuarioRefresh(this,true)"
                            aria-describedby="basic-addon2" class="form-control" id="id_tipousuario_obj" name="id_tipousuario_obj"
                            type="number"
                            ng-class="{'is-invalid': !userForm.id_tipousuario_obj.$valid  && !userForm.id_tipousuario_obj.$pristine }"
                            min="1" max="100" ng-pattern="/^[1-9][0-9]?$|^100$/" ng-required="true"
                            ng-model-options="{debounce: 1000}">
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <a>
                                <span class="p-2 bd-highlight"><i class="fas fa-users fa-1x"></i></span>
                                Tipo de usuario: {{id_tipousuario_obj.descripcion}}
                              </a>
                            </span>
                          </div>
                        </div>
                        <div class="invalid-feedback" ng-show="userForm.id_tipousuario_obj.$error.pattern">
                          Id de usuario inválido.
                        </div>
                      </div>
                    </div>
                  </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <button type="button" class="btn btn-primary center" ng-click="modificar()">Actualizar los
                            datos</button>
                    </div>
                </div>
            </form>
            <div ng-show="!fallo&&hecho">
                <div class="alert alert-success text-center" role="alert">
                    <h2>El usuario se ha actualizado con éxito</h2>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
            <div ng-show="fallo&&hecho">
                <div class="alert alert-danger text-center" role="alert">
                    <h2>Ha ocurrido un error al actualizar el usuario</h2>
                    <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
            <div ng-show="fallo&&!hecho">
                <div class="alert alert-danger text-center" role="alert">
                    <h2>Ha habido un error al recibir datos del usuario desde el servidor</h2>
                    <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>