<ng-include src="'app/menu.html'"></ng-include>
<div class="header shadow">
    <h1><span class="font-weight-bold context-menu"><i class="fas fa-user-tag"></i> Lista de tipo usuario <i class="fas fa-file-invoice-dollar"></i></span></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="wrapper">
               
                <nav aria-label="Registros por página">
                    <ul class="pagination float-right">
                        <li class="page-item" ng-class="{'active':(rppActual==r)}" ng-repeat="r in rppS">
                            <a class="page-link" href="./tipousuario/plist/{{r}}/{{ calcPage[$index] }}">{{r}}</a>
                        </li>
                    </ul>
                </nav>
                <nav aria-label="Paginación">
                    <ul class="pagination">
                        <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
                            ng-repeat="p in botonera track by $index">
                            <a class="page-link" ng-if="p != '...'"
                                href="./tipousuario/plist/{{ rppActual }}/{{ p }}">{{p}}</a>
                            <span class="page-link" ng-if="p == '...'">{{ p }}</span>
                        </li>
                    </ul>
                </nav>
                <table class="table">
                    <tr>
                        <div>
                            <th>Id <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <a href="./tipousuario/plist/{{ rppActual }}/{{ paginaActual }}/id/asc"
                                        class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                            class="fas fa-sort-up"></i></i></a>
                                    <a href="./tipousuario/plist/{{ rppActual }}/{{ paginaActual }}/id/desc"
                                        class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                            class="fas fa-sort-down"></i></i></a>
                                </div>
                            </th>
                        </div>
                        <div>
                            <th>descripcion <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <a href="./tipousuario/plist/{{ rppActual }}/{{ paginaActual }}/descripcion/asc"
                                        class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                            class="fas fa-sort-up"></i></i></a>
                                    <a href="./tipousuario/plist/{{ rppActual }}/{{ paginaActual }}/descripcion/desc"
                                        class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                            class="fas fa-sort-down"></i></i></a>
                                </div>
                            </th>
                        </div>
                        <th>Acciones</th>
                    </tr>
                    <tr ng-repeat="fila in pagina">
                        <td>{{fila.id}}</td>
                        <td>{{fila.descripcion}}</td>
                        <td>
                            <a href="./tipousuario/view/{{fila.id}}"><i class="fa fa-eye"></i></a>
                            <a href="./tipousuario/edit/{{fila.id}}"><i class="fa fa-edit"></i></a>
                            <a href="./tipousuario/remove/{{fila.id}}"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>

                </table>
                <nav aria-label="Paginación">
                    <ul class="pagination">
                        <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
                            ng-repeat="p in botonera track by $index">
                            <a class="page-link" ng-if="p != '...'"
                                href="./tipousuario/plist/{{ rppActual }}/{{ p }}">{{p}}</a>
                            <span class="page-link" ng-if="p == '...'">{{ p }}</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>