<ng-include src="'app/menu.html'"></ng-include>
<div class="form-center">
    <div class="login-container">
        <div class="login-top">
            <img class="login-img" src="" alt="">
            <h2 class="login-title">troll<span>Eyes</span></h2>
            <h3>Loguea para validar tu cuenta</h3>
        </div>
        <form name="userForm" class="login-form">
            <input type="text" class="form-control" name="username" ng-model="username"
                ng-class="{ 'is-invalid' : userForm.username.$invalid && !userForm.username.$pristine }" id="Usuario"
                aria-describedby="Usuario" placeholder="&#128100; username" ng-required="true">

            <div class="invalid-feedback" ng-show="userForm.username.$touched && userForm.username.$invalid">
                El nombre de usuario está vacio. Por favor, revisa e inténtalo de nuevo.
            </div>

            <input type="password" class="form-control" name="password" ng-model="password"
                ng-class="{ 'is-invalid' : userForm.password.$invalid && !userForm.password.$pristine }" id="Password"
                placeholder="&#x1F512; password" ng-required="true">

            <div class="invalid-feedback" ng-show="userForm.password.$touched && userForm.password.$invalid">
                La contraseña está vacia. Por favor, revisa e inténtalo de nuevo.
            </div>
            <div class="alert alert-danger" ng-show="fallo" role="alert">
                Error: {{falloMensaje}}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-1" ng-click="login()">Entrar <i
                        class="fas fa-sign-in-alt"></i></button>
            </div>
        </form>
        <br>
        <div class="text-center">
            <a href="./signup">¿Aun no tienes una cuenta? Regístrate</a>
        </div>
    </div>
</div>