.form-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-container {
  background-color: rgb(255, 255, 255);
  width: 450px;
  border-top: solid .5rem #000000;
  box-sizing: border-box;
  padding: 3rem 0;
  border-radius: 100px;
  box-shadow: 0 0 0.5rem #8A8C8C;
}


.login-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  color: #8A8C8C;
}

.login-title span {
  color: #316280;
}

img {
  width: 140px;
 
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem 0;
}

input[type=text], [type=password] {
  height: .5rem;
  margin: .5rem 0;
  padding: 1rem;
  transition: all.7s;
}

input[type=text]:focus, [type=password]:focus {
  border-color: #c8c8c8;
  background-color: #EFEFEF;
}

button.btn.btn-primary.btn-1 {
  margin-top: 20px;
}
button.btn.btn-primary.btn-2 {
 
  border-color: red;
  background-color: red;
}